<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hud_p1Alt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>hud_p2Alt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>hud_p3Alt.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,194},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>hud_p4Alt.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>hud_p5Alt.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>p1_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,644},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p1_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,272},{138,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>p1_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{134,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,188}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
            <key>p2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p2_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{134,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,184}}</string>
                <key>sourceSize</key>
                <string>{134,184}</string>
            </dict>
            <key>p2_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{132,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,188}}</string>
                <key>sourceSize</key>
                <string>{132,188}</string>
            </dict>
            <key>p3_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,546},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p3_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{138,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>p3_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,188}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
            <key>p4_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,412},{132,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,184}}</string>
                <key>sourceSize</key>
                <string>{132,184}</string>
            </dict>
            <key>p4_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,290},{134,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,184}}</string>
                <key>sourceSize</key>
                <string>{134,184}</string>
            </dict>
            <key>p4_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,138},{132,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,186}}</string>
                <key>sourceSize</key>
                <string>{132,186}</string>
            </dict>
            <key>p5_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,680},{132,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,164}}</string>
                <key>sourceSize</key>
                <string>{132,164}</string>
            </dict>
            <key>p5_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{138,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,162}}</string>
                <key>sourceSize</key>
                <string>{138,162}</string>
            </dict>
            <key>p5_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,476},{134,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,166}}</string>
                <key>sourceSize</key>
                <string>{134,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6190d6ea3a1fc067662d742d2d7f5c8:ad8f8ee8527453b6c624ab6483ccc251:e6694842ccbb88871dae78accf85ec08$</string>
            <key>textureFileName</key>
            <string>characters.png</string>
        </dict>
    </dict>
</plist>
