<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{230,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,50},{230,200}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>menu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,234},{293,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,191}}</string>
                <key>sourceSize</key>
                <string>{293,191}</string>
            </dict>
            <key>menu_main_ufo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,679},{149,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,142}}</string>
                <key>sourceSize</key>
                <string>{149,142}</string>
            </dict>
            <key>menu_main_ufo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,529},{166,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,148}}</string>
                <key>sourceSize</key>
                <string>{166,148}</string>
            </dict>
            <key>menu_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,294}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{270,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>menu_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>menu_play_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>menu_select_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,611},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_select_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,529},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:518de47d2777de19839ab66e8730108c:80907809f8a7365af74b697a4d488491:d8262aade98c5042ace66a849ab96659$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
